.card-container {
  position: relative;
  /* width: 200px;
  height: 300px; */
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-container.flip {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-face.back {
  transform: rotateY(180deg);
}




/*                 <Card className={styles['card-container']}>
                    <div className={styles['card-face']}>
                        <h2>Front Face</h2>
                        <p>Content for front face</p>
                    </div>
                    <div className={`${styles['card-face']} ${styles['back']}`}>
                        <h2>Back Face</h2>
                        <p>Content for back face</p>
                    </div>
                </Card> */