.carousel-item {
  height: calc(100vh - 57px);
  background: black;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover;
}

/* .container {
  height: 100px;
  position: absolute;
  bottom: 50;
  left: 0;
  right: 0;
  padding-bottom: 50px;
} */

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}